# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# environment
.env
.env.local
.env*.local

# native
/ios
/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# logs
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store
*.pem
